~!Color,green!~~!Navigator,instanceName!~~!Color,default!~ ~!Navigator,currentPosition,latitude!~,~!Navigator,currentPosition,longitude!~ ~!Color,brightBlue!~~!AP,state,~!Navigator,instanceName!~,track-deg!~ / ~!AP,state,~!Navigator,instanceName!~,heading-deg!~ ~!Color,brightBlack!~(track/heading degrees) ~!Color,brightYellow!~~!AP,state,~!Navigator,instanceName!~,track-goal!~ ~!Color,brightBlack!~(track goal)~!Color,default!~
~!Color,green!~~!Navigator,instanceName!~~!Color,default!~   ~!Color,brightGreen!~~!AP,state,~!Navigator,instanceName!~,track-deviance!~ ~!Color,brightBlack!~(track deviance)~!Color,default!~~!Color,brightCyan!~ ~!AP,state,~!Navigator,instanceName!~,devianceInMeters!~ ~!Color,brightBlack!~(linear deviance)~!Color,default!~

debug: 

<~~
~!Color,green!~~%instanceName%~ ~!Color,default!~~%latitude%~,~%longitude%~  ~!Color,brightBlack!~(lat,long) ~!Color,yellow!~~%userDistance%~ ~!Color,brightBlack!~(~!Navigator,unit!~) ~!Color,brightBlue!~~%heading%~~!Color,default!~ ~!Color,brightBlack!~(degrees) ~!Color,default!~~%eventCategory%~,~%eventName%~

~>~!Color,brightWhite!~Waypoints ~!Color,default!~~!Navigator,numberOfWayPoints!~
